<f:layout name="Default" />


<f:section name="head">
    <title>Free Veggie - Seite nicht gefunden</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400&amp;subset=latin" />
    <style type="text/css">
        body {
            background: #FFFFFF;
            text-align: center;
        }
        body, h1 {
            font-family: "Lato", "Helvetica Neue", "Arial";
        }
        a, a:hover {
            text-decoration: none;
            color: #72C02C;
        }
        a:hover {
            color: #000;
        }
    </style>
</f:section>

<f:section name="body">
    <body>

        <h1>Seite nicht gefunden.</h1>
        <p>
            <a href="/">Zur Startseite</a>
        </p>

        <img src="{f:uri.resource(path: 'resource://FreeVeggie.Blog/Public/Images/notfound.jpg')}" width="500" height="400" />

    </body>
</f:section>