


ul.fv-blogpostlist {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    border-bottom: 1px solid $fv-lightgray;
    padding: 10px 0;

    .fv-subdate {
      font-size: 80%;
      color: $fv-gray;
    }

    > div.fv-subtext {
      font-size: 80%;
    }
  }

  > li:last-child {
    border-bottom: none;
  }
}