
div.fv-container {
  display: block;
  min-height: 690px;
  margin-top: 20px;
  text-align: center;
  line-height: 140%;
}


[class^="typo3-neos-nodetypes"], .row [class*=" typo3-neos-nodetypes"] {
  margin-top: 10px;
  margin-bottom: 10px;
}


div.fv-content {
  width: 1000px;
  margin: 0 auto 0 auto;
  text-align: left !important;

  @media #{$screen-small} {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}


div.fv-pagetitle {
  background-color: $fv-green;
  padding: 50px 0px 30px 0px;
  display: block;
  color: white;

  h1 {
    font-size: 35px;
  }
}

div.fv-blogtitle {
  background-color: $fv-green;
  padding: 50px 0px 30px 0px;
  display: block;
  color: white;
}

div.fv-receipttitle {
  background-color: $fv-darkgray;
  background-size: 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 0px 0px;
  height: 300px;
  display: block;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  color: white;
}