
h1 {
  font-family: "Oswald";
  font-size: 32px;
  line-height: 120%;
  margin: 6px 0;
}
h2 {
  font-family: "Oswald";
  font-size: 25px;
  margin: 6px 0;
  line-height: 120%;
}
h3 {
  font-family: "Oswald";
  font-size: 20px;
  margin: 6px 0;
  line-height: 120%;
}


ul {
  list-style-type: square;
}


:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

div.fv-container {
  display: block;
  min-height: 690px;
  margin-top: 20px;
  text-align: center;
  line-height: 140%;

  ul {
    margin: 0;
  }


  a {
    color: $fv-green;
    text-decoration: none;
  }
  a:hover {
    color: $fv-darkgray;
    text-decoration: underline;
  }
}

div.fv-container:after {
  content: " ";
  display: table;
  clear: both;
}

[class^="typo3-neos-nodetypes"], .row [class*=" typo3-neos-nodetypes"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.fv-topspace {
  margin-top: 20px !important;
}

div.fv-content {
  width: 1000px;
  margin: 0 auto 0 auto;
  text-align: left !important;
  box-sizing: border-box;

  @media #{$screen-small} {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}


div.fv-pagetitle {
  background-color: $fv-green;
  padding: 20px 0px 0px 0px;
  height: 100px;
  display: block;
  color: white;
  overflow: hidden;

  h1 {
    font-size: 45px;

    @media #{$screen-tablet} {
      padding-top: 10px;
      font-size: 30px;
      line-height: 35px;
    }
  }
}


div.fv-categorytitle {
  background-color: $fv-green;
  padding: 20px 0px 30px 0px;
  display: block;
  color: white;
  overflow: hidden;

  h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 0;

    @media #{$screen-tablet} {
      padding-top: 10px;
      font-size: 30px;
      line-height: 35px;
    }
  }
}

div.fv-blogtitle {
  background-color: $fv-green;
  padding: 20px 0px 30px 0px;
  display: block;
  color: white;
  overflow: hidden;

  h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 0;

    @media #{$screen-tablet} {
      padding-top: 10px;
      font-size: 30px;
      line-height: 35px;
    }
  }

  div.fv-author {
    color: #FFFFFF;
    padding: 10px 0;
  }
  div.fv-date {
    color: $fv-green;
    background: #FFFFFF;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
  }
}

div.fv-receipttitle {
  background-color: $fv-darkgray;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 0px 0px;
  height: 300px;
  display: block;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  color: white;
  overflow: hidden;

  @media #{$screen-tablet} {
    height: 250px;
    padding-top: 10px;
  }

  h1 {
    font-size: 45px;
    line-height: 50px;
    border-radius: 10px;
    padding:15px;
    margin:0;
    border-radius: 3px;
    background: rgba(0,0,0,0.6);
    display: inline-block;

    @media #{$screen-tablet} {
      font-size: 30px;
      line-height: 35px;
    }
  }

  p.textblock {
    background: rgba(0,0,0,0.6);
    padding:10px;
    border-radius: 3px;
    width:50%;

    @media #{$screen-tablet} {
      width:90%;
    }
  }
}


div.fv-subtitleblock {
  background: $fv-green;
}


.typo3-neos-alignment-right {
  float: right; margin-left: 2em; margin-bottom: 1em;
}

.typo3-neos-alignment-left {
  float: left; margin-right: 2em; margin-bottom: 1em;
}

.typo3-neos-alignment-center {
  text-align: center;
}

.typo3-neos-alignment-left:after,
.typo3-neos-alignment-right:after {
  content: "";
  display: table;
  clear: both;
}

/*** Quote ***/

.fv-quote {

  text-align: center;
}

.fv-quote div, .fv-quote p, .fv-quote span {
  display: inline;
  font-size: 25px;
  font-style: italic;
}

.fv-quote p {
  min-width: 20px;
}

.fv-quote div.dateAndAuthor {
  display: block;
  color: #AAAAAA;
  font-size: 14px;
  font-style: normal;
  text-align: center;
}

div.fv-container {

  table {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin: 0;
    border-spacing: 0;
  }

  table td, table th {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin: 0;
    padding: 5px;
  }

  table th {
    background: #EEEEEE;
    text-align: center;
    font-weight: bold;
  }
}
