
/* General */

html, body {
  margin: 0;
  -webkit-text-size-adjust: none;
}

body, table {
  font-family: 'Open Sans', "Helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* Positions */

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
