
/* General */

html, body {
  margin: 0;
}

body, table {
  font-family: "Lato", "Helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* Positions */

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
