
div.fv-ingredients {

  margin-top: 10px;
  margin-bottom: 10px;

  input.fv-ingredient-portion:focus {
    outline: 0;
    width: 27px !important;
  }

  td.fv-ingredient-amount {
    text-align: right;
    font-weight: bold;
  }

}