
header {
  nav.fv-navigation {
    margin-left: 40px;

    @media #{$screen-aftertablet} {
      display: inline-block !important;
    }

    @media #{$screen-small} {
      width: 60%;
    }

    @media #{$screen-tablet} {
      margin: 0;
      width: 100%;
      height: auto;
      display: none;
    }
  }

  ul.fv-menu {
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;

    > li {
      float: left;
      position: relative;

      @media #{$screen-tablet} {
        display: block;
        position: static;
        float: none;
        border-bottom: 1px solid #EEEEEE;
        text-align: center;
        font-size: 15px;
      }

      > a {
        display: block;
        text-decoration: none;
        color: $fv-darkgray;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: -1px;
        font-size: 15px;

        @media #{$screen-aftertablet} {
          margin-right: 15px;
        }

        @media #{$screen-tablet} {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      > a:hover, > a.current {
        color: $fv-green !important;
      }
    }
  }

  ul.fv-secondmenu-desktop {
    display:block;
    clear: both;
    padding: 15px 0 0 0;

    @media #{$screen-tablet} {
      display: none;
    }

    > li {
      float: left;
      margin: 0 15px 0 0;
      list-style-type: none;

      a {
        text-decoration: none;
        color: #343434;
        font-size: 14px;
      }
      a:hover, a.current {
        color: $fv-green !important;
      }
    }
  }

  ul.fv-secondmenu-tablet {
    display: none;
    @media #{$screen-tablet} {
      display: block;
      clear: both;
      padding: 15px 0 0 0;
      text-align: center;
      list-style-type: none;

      > li {
        display: block;
        float: none;

        a {
          text-decoration: none;
          color: #343434;
          font-size: 15px;
          display: block;
          padding: 6px 0px 12px 0px;
        }
        a:hover, a.current {
          color: $fv-green !important;
        }
      }
    }
  }
}
