
$fv-green: #72C02C;
$fv-darkgray: #343434;
$fv-lightgray: #dfdfdf;

// Media queries
$screen-big: "only screen and (min-width: 1001px)";
$screen-aftertablet: "only screen and (min-width: 769px)";
$screen-small: "only screen and (max-width: 1000px)";
$screen-tablet: "only screen and (max-width: 768px)";
$screen-phone: "only screen and (max-width: 420px)";
