/* General */
html, body { margin: 0; -webkit-text-size-adjust: none; }

body, table { font-family: "Lato", "Helvetica neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; -webkit-font-smoothing: antialiased; }

/* Positions */
.left { float: left; }

.right { float: right; }

.clear { clear: both; }

header { display: block; margin-top: 5px; }
@media only screen and (max-width: 767px) { header { margin-bottom: 15px; } }
header a.fv-logo { display: block; text-decoration: none; float: left; width: 211px; margin-top: 12px; }
@media only screen and (max-width: 767px) { header a.fv-logo { float: none; display: inline-block; } }
header div.fv-logo-image { display: inline-block; background-image: url(../Images/logo.png); background-size: 100%; height: 40px; width: 50px; margin-right: 0px; margin-left: 17px; overflow: hidden; -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; transition-property: transform; }
header div.fv-logo-image:hover { -webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -o-transform: rotate(-360deg); }
header div.fv-logo-text { position: relative; top: -7px; display: inline-block; background-image: url(../Images/logotext.png); background-size: 100%; background-position: right; height: 30px; width: 140px; }
header a.fv-hamburger { display: none; float: right; width: 30px; }
@media only screen and (max-width: 767px) { header a.fv-hamburger { display: block; } }
header a.fv-hamburger div { display: block; height: 4px; margin: 5px 0; background: #212121; }

header nav.fv-navigation { margin-left: 40px; }
@media only screen and (min-width: 768px) { header nav.fv-navigation { display: inline-block !important; } }
@media only screen and (max-width: 1000px) { header nav.fv-navigation { width: 60%; } }
@media only screen and (max-width: 767px) { header nav.fv-navigation { margin: 0; width: 100%; height: auto; display: none; } }
header ul.fv-menu { display: block; margin: 20px 0 0 0; padding: 0; list-style-type: none; }
header ul.fv-menu > li { float: left; position: relative; }
@media only screen and (max-width: 767px) { header ul.fv-menu > li { display: block; position: static; float: none; border-bottom: 1px solid #EEEEEE; text-align: center; font-size: 15px; } }
header ul.fv-menu > li > a { display: block; text-decoration: none; color: #212121; text-transform: uppercase; font-weight: normal; letter-spacing: -1px; font-size: 15px; }
@media only screen and (min-width: 768px) { header ul.fv-menu > li > a { margin-right: 15px; } }
@media only screen and (max-width: 767px) { header ul.fv-menu > li > a { padding-top: 15px; padding-bottom: 15px; } }
header ul.fv-menu > li > a:hover, header ul.fv-menu > li > a.current { color: #72C02C !important; }
header ul.fv-secondmenu-desktop { display: block; clear: both; padding: 15px 0 0 0; }
@media only screen and (max-width: 767px) { header ul.fv-secondmenu-desktop { display: none; } }
header ul.fv-secondmenu-desktop > li { float: left; margin: 0 15px 0 0; list-style-type: none; }
header ul.fv-secondmenu-desktop > li a { text-decoration: none; color: #343434; font-size: 14px; }
header ul.fv-secondmenu-desktop > li a:hover, header ul.fv-secondmenu-desktop > li a.current { color: #72C02C !important; }
header ul.fv-secondmenu-tablet { display: none; }
@media only screen and (max-width: 767px) { header ul.fv-secondmenu-tablet { display: block; clear: both; padding: 15px 0 0 0; text-align: center; list-style-type: none; }
  header ul.fv-secondmenu-tablet > li { display: block; float: none; }
  header ul.fv-secondmenu-tablet > li a { text-decoration: none; color: #343434; font-size: 15px; display: block; padding: 6px 0px 12px 0px; }
  header ul.fv-secondmenu-tablet > li a:hover, header ul.fv-secondmenu-tablet > li a.current { color: #72C02C !important; } }

:before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

div.fv-container { display: block; min-height: 690px; margin-top: 20px; text-align: center; line-height: 140%; }
div.fv-container ul { margin: 0; }
div.fv-container a { color: #72C02C; text-decoration: none; }
div.fv-container a:hover { color: #212121; text-decoration: underline; }

div.fv-container:after { content: " "; display: table; clear: both; }

[class^="typo3-neos-nodetypes"], .row [class*=" typo3-neos-nodetypes"] { margin-top: 10px; margin-bottom: 10px; }

div.fv-topspace { margin-top: 20px !important; }

div.fv-content { width: 1000px; margin: 0 auto 0 auto; text-align: left !important; box-sizing: border-box; }
@media only screen and (max-width: 1000px) { div.fv-content { width: 100%; padding-left: 5px; padding-right: 5px; } }

div.fv-pagetitle { background-color: #72C02C; padding: 20px 0px 0px 0px; height: 100px; display: block; color: white; overflow: hidden; }
div.fv-pagetitle h1 { font-size: 45px; }
@media only screen and (max-width: 767px) { div.fv-pagetitle h1 { padding-top: 10px; font-size: 30px; line-height: 35px; } }

div.fv-categorytitle { background-color: #72C02C; padding: 20px 0px 30px 0px; display: block; color: white; overflow: hidden; }
div.fv-categorytitle h1 { font-size: 45px; line-height: 50px; margin: 0; }
@media only screen and (max-width: 767px) { div.fv-categorytitle h1 { padding-top: 10px; font-size: 30px; line-height: 35px; } }

div.fv-blogtitle { background-color: #72C02C; padding: 20px 0px 30px 0px; display: block; color: white; overflow: hidden; }
div.fv-blogtitle h1 { font-size: 45px; line-height: 50px; margin: 0; }
@media only screen and (max-width: 767px) { div.fv-blogtitle h1 { padding-top: 10px; font-size: 30px; line-height: 35px; } }
div.fv-blogtitle div.fv-author { color: #FFFFFF; padding: 10px 0; }
div.fv-blogtitle div.fv-date { color: #72C02C; background: #FFFFFF; display: inline-block; padding: 3px; border-radius: 2px; font-weight: bold; letter-spacing: -1px; margin: 0 0 10px 0; }

div.fv-receipttitle { background-color: #212121; background-size: cover; background-attachment: scroll; background-position: center; background-repeat: no-repeat; padding: 50px 0px 0px 0px; height: 300px; display: block; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); color: white; overflow: hidden; }
@media only screen and (max-width: 767px) { div.fv-receipttitle { height: 250px; padding-top: 10px; } }
div.fv-receipttitle h1 { font-size: 45px; line-height: 50px; border-radius: 10px; padding: 15px; margin: 0; border-radius: 3px; background: rgba(0, 0, 0, 0.6); display: inline-block; }
@media only screen and (max-width: 767px) { div.fv-receipttitle h1 { font-size: 30px; line-height: 35px; } }
div.fv-receipttitle p.textblock { background: rgba(0, 0, 0, 0.6); padding: 10px; border-radius: 3px; width: 50%; }
@media only screen and (max-width: 767px) { div.fv-receipttitle p.textblock { width: 90%; } }

div.fv-subtitleblock { background: #72C02C; }

.typo3-neos-alignment-right { float: right; margin-left: 2em; margin-bottom: 1em; }

.typo3-neos-alignment-left { float: left; margin-right: 2em; margin-bottom: 1em; }

.typo3-neos-alignment-center { text-align: center; }

.typo3-neos-alignment-left:after, .typo3-neos-alignment-right:after { content: ""; display: table; clear: both; }

/*** Quote ***/
.fv-quote { text-align: center; }

.fv-quote div, .fv-quote p, .fv-quote span { display: inline; font-size: 25px; font-style: italic; }

.fv-quote p { min-width: 20px; }

.fv-quote div.dateAndAuthor { display: block; color: #AAAAAA; font-size: 14px; font-style: normal; text-align: center; }

div.fv-container table { border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; margin: 0; border-spacing: 0; }
div.fv-container table td, div.fv-container table th { border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin: 0; padding: 5px; }
div.fv-container table th { background: #EEEEEE; text-align: center; font-weight: bold; }

footer { display: block; background: #212121; padding: 60px 0 130px 0; margin-top: 50px; color: #dfdfdf; }
footer a { color: white; text-decoration: none; }
footer a:hover { color: #72C02C; }

ul.breadcrumbs { display: block; list-style-type: none; padding: 10px 0px; margin: 0px; }
ul.breadcrumbs > li { display: inline; color: #FFFFFF; font-size: 16px; }
ul.breadcrumbs > li a { text-decoration: none; color: #FFFFFF; margin-right: 15px; font-size: 16px; }
ul.breadcrumbs > li a:hover { color: #D4ECBF; text-decoration: none; }

span.splitter:before { position: relative; top: -1px; content: "\203A"; font-size: 22px; height: 18px; width: 15px; display: inline-block; }

span.fv-languagemenu { float: right; font-size: 14px; }
span.fv-languagemenu a { text-decoration: none; color: #000000; padding: 0px 2px; }
span.fv-languagemenu a:hover { color: #72C02C; }
span.fv-languagemenu a.current { font-weight: bold; font-size: 120%; }
@media only screen and (max-width: 767px) { span.fv-languagemenu { float: none; position: absolute; right: 70px; top: 7px; font-size: 16px; } }

nav.fv-pagination { text-align: center; }
nav.fv-pagination ul { display: inline-block; list-style-type: none; padding: 0; margin: 0; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf; }
nav.fv-pagination ul li { float: left; margin: 0; padding: 0; display: inline-block; border-right: 1px solid #dfdfdf; }
nav.fv-pagination ul li.current, nav.fv-pagination ul li > a { display: inline-block; padding: 5px 10px; margin: 0; color: black; text-decoration: none; }
nav.fv-pagination ul li > a:hover { background: #F4F4F4; color: #72C02C; }
nav.fv-pagination ul li.current { font-weight: bold; background: #F4F4F4; }

ul.fv-receiptcollection { list-style-type: none; width: 100%; display: block; margin: 0 0 20px 0; padding: 0 0 20px 0; }
ul.fv-receiptcollection > li:nth-child(2n+1) { clear: both; display: block; content: ""; }
ul.fv-receiptcollection > li.fv-receiptbox { box-sizing: border-box; width: 50%; padding: 5px; float: left; }
ul.fv-receiptcollection > li.fv-receiptbox > a { display: block; border: 1px solid #dfdfdf; padding: 5px; text-decoration: none; color: #000000; }
ul.fv-receiptcollection > li.fv-receiptbox > a:hover { outline: 1px solid #72C02C; border-color: #72C02C; }
ul.fv-receiptcollection > li.fv-receiptbox > a:hover h3.fv-receipttitle { color: #72C02C; }
ul.fv-receiptcollection > li.fv-receiptbox div.fv-receiptimage { display: block; width: 100%; height: 130px !important; background-size: cover; background-color: #212121; background-position: center; height: auto; }
ul.fv-receiptcollection > li.fv-receiptbox h3.fv-receipttitle { font-size: 18px; margin: 0; padding: 0; }
ul.fv-receiptcollection > li.fv-receiptbox p.fv-receiptteaser { font-size: 14px; }
@media only screen and (max-width: 767px) { ul.fv-receiptcollection > li.fv-receiptbox { width: 100%; float: none; } }

ul.fv-receiptcollection:after { content: " "; display: table; clear: both; }

ul.fv-blogpostcollection { list-style-type: none; width: 100%; display: block; margin: 0 0 20px 0; padding: 0; }
ul.fv-blogpostcollection > li.fv-blogpost { padding: 20px 0; border-bottom: 1px solid #dfdfdf; }
ul.fv-blogpostcollection > li.fv-blogpost > a.fv-title { display: block; text-decoration: none; color: #000000; }
ul.fv-blogpostcollection > li.fv-blogpost > a.fv-title h3 { margin: 0; }
ul.fv-blogpostcollection > li.fv-blogpost > a.fv-title:hover { color: #72C02C; text-decoration: none; }
ul.fv-blogpostcollection > li.fv-blogpost > span.fv-subdate { font-size: 80%; }
ul.fv-blogpostcollection > li.fv-blogpost:first-child { padding-top: 0; }
ul.fv-blogpostcollection > li.fv-blogpost:last-child { border-bottom: none; }

ul.fv-blogpostcollection:after { content: " "; display: table; clear: both; }

ul.fv-categorymenu { list-style-type: none; margin: 0; padding: 0; }
ul.fv-categorymenu > li { border-bottom: 1px solid #dfdfdf; padding: 10px 0; }
ul.fv-categorymenu > li > div.fv-subtext { font-size: 80%; }
ul.fv-categorymenu > li:last-child { border-bottom: none; }

.multicolumn { margin-right: -5px; margin-left: -5px; }
.multicolumn .col-33 { width: 33.3333333333%; }
.multicolumn .col-66 { width: 66.6666666666%; }
.multicolumn .col-50 { width: 50%; }
.multicolumn .col-25 { width: 25%; }
.multicolumn .col-75 { width: 75%; }
.multicolumn [class^="col-"], .multicolumn .row [class*=" col-"] { padding: 5px; float: left; min-height: 1px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
@media only screen and (max-width: 767px) { .multicolumn [class^="col-"], .multicolumn .row [class*=" col-"] { width: 100% !important; display: block !important; float: none !important; } }

.multicolumn::after { clear: both; content: " "; display: table; }
