/**
Free Veggie Layout Stylesheet
**/

/*** GENERAL ***/

html, body {
    margin: 0px;
    padding: 0px;
}

body, table {
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*** LOGO ***/

div.logo {
    background-image: url(../Images/logo.png);
    background-size: 350px 60px;
    height: 60px;
    width: 70px;
    margin-right: 23px;
    margin-left: 17px;
    float:left;

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

div.logo:hover {
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
}

div.logotext {
    background-image: url(../Images/logo.png);
    background-size: 145px 25px;
    background-position: right;
    height: 30px;
    width: 110px;
    margin-right: 10px;
    margin-top:2px;
    float:left;
}

/*** TOPBAR ***/

div.topbar {
    background: #404040;
    height: 60px;
    text-align: center;
}

ul.topmenu {

    list-style-type:none;
    list-style-image:none;
    margin: 0px;
    padding: 0px;
}

ul.topmenu ul.submenu {
    list-style-type:none;
    list-style-image:none;
    margin: 0px;
    padding: 0px;
    background: #404040;
    position:absolute;
    min-width:200px;
}

ul.topmenu > li {
    float:left;
    min-width: 150px;
}

ul.topmenu > li > a {
    border-right: 0px solid #545454;
}

ul.topmenu ul.submenu > li > a,
ul.topmenu > li > a {
    display: block;
    text-decoration: none;
    color: #eeeeee;
    padding: 20px 0px 23px 15px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
}

ul.topmenu ul.submenu {
    padding-bottom: 10px;
    padding-top: 10px;
}

ul.topmenu ul.submenu > li > a:hover,
ul.topmenu > li > a:hover {
    background: #505050;
}

ul.topmenu ul.submenu > li > a {
    padding: 10px 10px 10px 15px;
}

ul.topmenu >li ul.submenu {
    display: none;
}

ul.topmenu > li:hover ul.submenu {
    display: block;
}

ul.topmenu > li:hover {
    background: #393939;
}

/*** SUBBAR ***/

div.subbar {
    background: #1c1c1c;
    min-height: 35px;
}

div.subbar a.sublink {
    text-decoration: none;
    color:#898989;
    margin:8px 25px 8px 5px;
    display:inline-block;
    font-size: 15px;
}

div.subbar a.sublink:hover {
    color: #DDDDDD;
}

/*** FOOTER ***/

div.footer {
    margin-top: 100px;
    padding-top: 20px;
    margin-bottom: 50px;
    border-top: 1px solid #cdcdcd;

    font-size: 15px;
    color: #787878;
}

/*** CONTENT ***/

div.content-min-1000 {
    min-width: 1000px;
}

div.content {
    width: 1000px;
    text-align: left;
    margin: 0px auto;
}

.row {
    width: 100%;
    clear: both;
    display: table;
    margin-right: -10px;
    margin-left: -10px;
}

.row [class^="col-"], .row [class*=" col-"] {
    padding: 10px;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row .col-33 {
    width: 33.3333333333%;
}

.row .col-66 {
    width: 66.6666666666%;
}

.row .col-50 {
    width: 50%;
}

.row .col-25 {
    width: 25%;
}

.main-content {
    line-height: 130%;
}
