body { background: #fff; padding-top: 0 !important; color: #000; font-family: Georgia, Times, serif; }

.fv-container a { font-weight: bold; text-decoration: underline; color: #06c; }
.fv-container a:after { content: " (" attr(href) ") "; }

.multicolumn { margin-right: -5px; margin-left: -5px; }
.multicolumn .col-33 { width: 33.3333333333%; }
.multicolumn .col-66 { width: 66.6666666666%; }
.multicolumn .col-50 { width: 50%; }
.multicolumn .col-25 { width: 25%; }
.multicolumn [class^="col-"], .multicolumn .row [class*=" col-"] { padding: 5px; float: left; min-height: 1px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
@media only screen and (max-width: 767px) { .multicolumn [class^="col-"], .multicolumn .row [class*=" col-"] { width: 100% !important; display: block !important; float: none !important; } }

.multicolumn::after { clear: both; content: " "; display: table; }
