{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
{namespace fv=FreeVeggie\Blog\ViewHelpers}

<div{attributes -> f:format.raw()}>

<f:if condition="{items}">
    <f:then>
        <typo3cr:widget.paginate widgetId="posts-paginator" nodes="{items}" as="paginatedNodes" configuration="{itemsPerPage: itemsPerPage}">
            <ul class="fv-blogpostcollection">
                <f:for each="{paginatedNodes}" as="nodeItem">
                    <li class="fv-blogpost">
                        {node.properties.datePublished}
                        <neos:link.node node="{nodeItem}" class="fv-title">
                            <h3>{nodeItem.label}</h3>
                        </neos:link.node>
                        <span class="fv-subdate">
                        </span>

                        <f:if condition="{nodeItem.properties.publishDate}">
                            <span class="fv-subdate">
                                <time datetime="{f:format.date(date: nodeItem.properties.publishDate, format: 'c')}" itemprop="publishDate">
                                    <f:format.date cldrFormat="{f:translate(package:'FreeVeggie.Blog', id:'format.date')}" forceLocale="{true}" date="{nodeItem.properties.publishDate}" />
                                </time>
                            </span>
                        </f:if>

                        <p>
                            <f:if condition="{nodeItem.properties.teaser}">
                                {nodeItem.properties.teaser}
                                <br />
                            </f:if>
                            <fv:teaser node="{nodeItem}" />
                        </p>
                        <neos:link.node node="{nodeItem}">
                            <f:translate package="FreeVeggie.Blog">Read more</f:translate>
                        </neos:link.node>
                    </li>
                </f:for>
            </ul>
        </typo3cr:widget.paginate>
    </f:then>
</f:if>

</div>
