{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}


<article itemscope="" itemtype="http://schema.org/Article" class="freeveggie-blog-article" xmlns:f="http://www.w3.org/1999/html">

    <div class="fv-blogtitle">
        <div class="fv-content">

            <f:if condition="{node.properties.publishDate}">
                <div class="fv-date">
                    <time datetime="{f:format.date(date: node.properties.publishDate, format: 'c')}" itemprop="publishDate">
                        <f:format.date cldrFormat="{f:translate(package:'FreeVeggie.Blog', id:'format.date')}" forceLocale="{true}" date="{node.properties.publishDate}" />
                    </time>
                </div>
            </f:if>

            <h1>{title}</h1>

            <f:if condition="{node.properties.author}">
                <div class="fv-author">
                    <f:format.nl2br>{node.properties.author -> f:format.raw()}</f:format.nl2br>
                </div>
            </f:if>
        </div>
    </div>
    <div class="fv-subtitleblock">
        <div class="fv-content">
            {breadcrumb -> f:format.raw()}
        </div>
    </div>

    <div class="fv-content fv-topspace">
        <ts:render path="main" />
    </div>

</article>
