{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
{namespace fv=FreeVeggie\Blog\ViewHelpers}

<div{attributes -> f:format.raw()}>

<f:if condition="{items}">
    <f:then>
        <ul>
            <typo3cr:widget.paginate nodes="{items}" as="paginatedNodes" configuration="{itemsPerPage: itemsPerPage}">
                <f:for each="{paginatedNodes}" as="nodeItem">
                    <li style="border-bottom:1px solid #DDD;margin-bottom:30px;padding-bottom:20px;">
                        <neos:link.node node="{nodeItem}">
                            <h3>{nodeItem.label}</h3>
                        </neos:link.node>
                        <p>
                            <f:if condition="{nodeItem.properties.teaser}">
                                {nodeItem.properties.teaser}
                                <br />
                            </f:if>
                            <fv:teaser node="{nodeItem}" />
                        </p>
                        <neos:link.node node="{nodeItem}">
                            <f:translate package="FreeVeggie.Blog">Read more</f:translate>
                        </neos:link.node>
                    </li>
                </f:for>
            </typo3cr:widget.paginate>
        </ul>
    </f:then>
</f:if>

</div>
