{namespace neos=TYPO3\Neos\ViewHelpers}

<div{attributes -> f:format.raw()}>

    <table width="100%" class="fv-ingredients-table-{node.identifier}">
        <tr>
            <td>
                <b><f:translate package="FreeVeggie.Blog" id="ingredients" /></b>
            </td>
            <td colspan="2">
                <input type="text" onkeyup="fvCalculateIngredients($('table.fv-ingredients-table-{node.identifier}'), {portion});" onblur="fvCalculateBlur($(this), {portion});" value="{portion}" size="4" class="fv-ingredient-portion" />
                <f:translate package="FreeVeggie.Blog" id="ingredients.portion" />
            </td>
        </tr>

        <f:for each="{ingredients}" as="ingredient">
            <tr>
                <td>{ingredient.name}</td>
                <td width="60" class="fv-ingredient-amount fv-ingr{ingredient.identifier}" data-originalamount="{ingredient.amount}">{ingredient.amount}</td>
                <td width="60">{ingredient.unit}</td>
            </tr>
        </f:for>

        <f:if condition="{text}">
            <tr>
                <td colspan="3">
                    {text -> f:format.nl2br()}
                </td>
            </tr>
        </f:if>

    </table>

</div>