{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}


<article itemscope="" itemtype="http://schema.org/Article" class="freeveggie-blog-article" xmlns:f="http://www.w3.org/1999/html">

    <div class="fv-receipttitle" {f:if(condition: headerImageUri, then: 'style="background-image: url({headerImageUri});"')} >
        <div class="fv-content">
            <h1>{title}</h1>

            <f:if condition="{teaser}">
                <p class="textblock">
                    <f:format.nl2br>{teaser -> f:format.raw()}</f:format.nl2br>
                </p>
            </f:if>
        </div>
    </div>
    <div class="fv-subtitleblock">
        <div class="fv-content">
            {breadcrumb -> f:format.raw()}
        </div>
    </div>

    <div class="fv-content">
        <time datetime="{f:format.date(date: node.properties.datePublished, format: 'c')}" itemprop="datePublished">
            <f:format.date format="F jS, Y">{node.properties.datePublished}</f:format.date>
        </time>

        <ts:render path="main" />
    </div>

</article>
